.gradle/
__pycache__/
/.idea/
.vscode/
*.ipr
*.iws
*.iml
build/
target/
*.log
*.out
.DS_Store
/vendor/
gradlew.bat
es5/
/classes/
out/
pipeline.yml
.classpath
.vscode/
.settings/
.project
venv/ 
**/node_modules
**/output
